:root {
  --color-1: #0d1b2a;
  --color-2: #1b263b;
  --color-3: #415a77;
  --color-4: #7b9e87;
  --color-5: #e0e1dd;
  --border-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

input {
  height: 3rem;
  padding-left: 1rem;
  width: 14rem;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.select-style {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
  width: 15rem;
}

select {
  background: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 0.5rem 0.8rem;
  width: 13rem;
}

.select-style select:focus {
  outline: none;
}

.small-btn {
  background: var(--color-4);
  border: none;
  border-radius: 3px;
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  color: var(--border-color);
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 1rem;
  outline: inherit;
  padding: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/**
* HEADER SECTION
*/
.header {
  margin: 1rem;
  text-align: center;
}

/**
* COLOR BLOCK SECTION
*/
.color-blocks {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}

.color-blocks__block {
  height: 50rem;
  position: relative;
  width: 22rem;
}

.color-blocks__hex-color {
  color: var(--border-color);
  font-size: 1.9rem;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.fa-lock,
.fa-lock-open {
  bottom: 0;
  color: var(--border-color);
  cursor: pointer;
  font-size: 2rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.fa-lock-open {
  opacity: 0;
}

.color-blocks__block:hover .fa-lock-open {
  opacity: 1;
}

/**
* CONTROLS SECTION
*/
.controls-section {
  margin-bottom: 1.5rem;
  text-align: center;
}

.controls-section__header,
.user-section__header--heading {
  margin-bottom: 0.8rem;
}

.controls-section__button {
  background: var(--color-3);
  border: none;
  border-radius: 3px;
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  color: var(--border-color);
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  outline: inherit;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.controls-section__button:hover,
.small-btn:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}

.controls-section__form-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 906px;
}

.palette-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.palette-title {
  width: 29rem;
}

/**
* USER PALLETE
*/
.user-palette__header {
  margin-bottom: 2rem;
  text-align: center;
}

.user-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-palettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-section__header {
  margin-bottom: 2rem;
}

.user-section__palette {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 16rem;
  min-width: 27rem;
  position: relative;
}

.user-section__palette--heading {
  position: absolute;
  top: 0;
}

.user-section__palette--colors {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  width: 100%;
}

.user-section__palette--title {
  left: 2rem;
  margin-right: 1rem;
  max-width: 4rem;
  position: absolute;
}

.user-section__palette--colors-block {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}

.user-section__palette--colors-block:not(:last-of-type) {
  margin-right: -1.8rem;
}

.fa-trash-alt {
  cursor: pointer;
  font-size: 2rem;
  font-size: 1.8rem;
  position: absolute;
  right: 1rem;
}

.project-title {
  width: 27rem;
}

/**
* COLORS FOR INDVIDUAL BLOCKS
*/
.one {
  background: var(--color-1);
}

.two {
  background: var(--color-2);
}

.three {
  background: var(--color-3);
}

.four {
  background: var(--color-4);
}

.five {
  background: var(--color-5);
}

/* SNACKBAR */
#snack-bar {
  background-color: #ff7675;
  border-radius: 2px;
  bottom: 30px;
  color: #fff;
  font-size: 1.8rem;
  left: 50%;
  margin-left: -12.5rem;
  min-width: 25rem;
  padding: 1.6rem;
  position: fixed;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

#snack-bar.show {
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  visibility: visible;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 3rem;
    opacity: 1;
  }
}
